@font-face {
    font-family: "Rr";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Rm";
    src: url(../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: "Ir";
    src: url(../assets/fonts/Inter_28pt-Regular.ttf);
}
@font-face {
    font-family: "Im";
    src: url(../assets/fonts/Inter_28pt-Medium.ttf);
}
@import "tailwindcss";


@theme {
    --font-Rr: "Rr", "sans-serif";
    --font-Rm: "Rm", "sans-serif"; 
    --font-Ir: "Ir", "sans-serif";
    --font-Im: "Im", "sans-serif";
  
}

.container{
    max-width: 1272px;
    padding: 0 16px;
}
@import "tailwindcss";
